.deliver {
  background-color: #004047;
  padding: 140px 0 151px 0;
  background-image: url("../images/deliver-bg-first.png"), url("../images/home-deliver-bg.png");
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: calc(50% - 686px) top, calc(50% + 658px) bottom;
}
.deliver__top {
  width: 100%;
  max-width: 932px;
  margin: 0 auto;
  margin-bottom: 92px;
}
.deliver__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.deliver__strong {
  color: #79C8C7;
}

.deliver__list {
  display: flex;
  justify-content: space-between;
  @include list-global;
}

.deliver__item {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  
  &::before {
    position: absolute;
    top: -38px;
    left: 150px;
    display: block;
    background-image: url("../images/deliver-qosh.png");
    width: 67px;
    height: 56px;
    z-index: -1;
    content: "";
  }
}

.deliver__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.deliver__collor {
  display: block;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}
.deliver__span {
  display: block;
  font-style: italic;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

@include max-width(768px) {
  .deliver {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/deliver-bg-first.png"), url("../images/home-deliver-bg.png");
    background-repeat: no-repeat;
    background-size: 147px 100px, 200px 100px;
    background-position: calc(50% - 308px) top, calc(50% + 283px) bottom;
  }
  .deliver__inner {
    margin-right: auto;
    margin-left: auto;
  }
  .deliver__top {
    width: 100%;
  }
  .deliver__title {
    font-size: 32px;
    line-height: 32px;
  }
  .deliver__list {
    flex-direction: column;
  }
  .deliver__item {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 2;
    
    &::before {
      position: absolute;
      top: -38px;
      left: 250px;
      display: block;
      background-image: url("../images/deliver-qosh.png");
      width: 67px;
      height: 56px;
      z-index: -1;
      content: "";
    }
  }
  .deliver__item {
    width: 100%;
    max-width: 573px;
    margin-top: 84px;
    margin-right: auto;
    margin-left: auto;
  }
}
@include max-width(576px){
  .deliver__top{
    margin-bottom: 0;
  }
  .deliver__item {
    position: relative;
    
    &::before {
      position: absolute;
      top: -38px;
      left: 200px;
      display: block;
      background-image: url("../images/deliver-qosh.png");
      width: 67px;
      height: 56px;
      z-index: -1;
      content: "";
    }
  }
}

@include max-width(376px) {
  .deliver {
    padding-top: 140px;
    padding-bottom: 164px;
    background-image: url("../images/deliver-bg-first.png"), url("../images/home-deliver-bg.png");
    background-repeat: no-repeat;
    background-size: 147px 100px, 200px 100px;
    background-position: calc(50% - 112px) top, calc(50% + 87px) bottom;
  }
  .deliver__item {
    position: relative;
    
    &::before {
      position: absolute;
      top: -38px;
      left: 100px;
      display: block;
      background-image: url("../images/deliver-qosh.png");
      width: 67px;
      height: 56px;
      z-index: -1;
      content: "";
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .deliver {
    background-image: url("../images/deliver-bg-first@2x.png"), url("../images/home-deliver-bg@2x.png");
  }

  .deliver__item {
    &::before {
      background-image: url("../images/deliver-qosh@2x.png");
    }
  }

  @include max-width(768px) {
    .deliver {
      background-image: url("../images/deliver-bg-first@2x.png"), url("../images/home-deliver-bg@2x.png");
    }
    .deliver__item {
      &::before {
        background-image: url("../images/deliver-qosh@2x.png");
      }
    }
  }

  @include max-width(576px){
    .deliver__item {
      &::before {
        background-image: url("../images/deliver-qosh@2x.png");
      }
    }
  }

  @include max-width(376px) {
    .deliver {
      background-image: url("../images/deliver-bg-first@2x.png"), url("../images/home-deliver-bg@2x.png");
    }
    .deliver__item {
      &::before {
        background-image: url("../images/deliver-qosh@2x.png");
      }
    }
  }
} 
