.ready {
  background-color: $ready_bg;
  padding: 76px 0;
  background-image: url("../images/home-ready-bg.png");
  background-repeat: no-repeat;
  background-size: 200px 144px;
  background-position: calc(50% - 660px) bottom;
}

.ready__inner {
  width: 100%;
  max-width: 917px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.ready__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

.ready__link {
  width: 100%;
  max-width: 153px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #012F34;
  border-radius: 24px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #012F34;
  transition: all 0.3s ease;

  &:hover {
    color: #FFFFFF;
    background-color: #012F34;
  }
  &:active {
    color: #FFFFFF;
    background-color: #012F34;
  }
}

@include max-width(768px) {
  .ready {
    background-image: url("../images/home-ready-bg.png");
    background-repeat: no-repeat;
    background-size: 200px 144px;
    background-position: calc(50% - 283px) calc(50% + 50px);
  }
  .ready__inner {
    width: 100%;
    max-width: 573px;
  }
  .ready__title {
    font-size: 32px;
    line-height: 32px;
  }
}

@include max-width(596px) {
  .ready {
    background-image: url("../images/home-ready-bg.png");
    background-repeat: no-repeat;
    background-size: 200px 144px;
    background-position: calc(50% - 287px) bottom;
  }
  .ready__inner {
    display: flex;
    flex-direction: column;
  }
  .ready__title {
    text-align: center;
    margin-bottom: 24px;
  }
  .ready__link{
    margin: 0 auto;
  }
}

@include max-width(376px) {
  .ready {
    padding-top: 83px;
    padding-bottom: 83px;
    background-image: url("../images/home-ready-bg.png");
    background-repeat: no-repeat;
    background-size: 200px 144px;
    background-position: calc(50% - 87px) calc(50% + 104px);
  }
  .ready__inner {
    display: flex;
    flex-direction: column;
  }
  .ready__title {
    text-align: center;
    margin-bottom: 24px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .ready {
    background-image: url("../images/home-ready-bg@2x.png");
  }
  @include max-width(768px) {
    .ready {
      background-image: url("../images/home-ready-bg@2x.png");
    }
  }
  @include max-width(376px) {
    .ready {
      background-image: url("../images/home-ready-bg@2x.png");
    }
  }
}






